/* 
		Theme Name: Akvo.org Responsive V2
		Theme URI: http://akvo.org
		Description: We are a non-profit foundation headquartered in the Netherlands. We help connect doers and donors to transform communities in some of the poorest parts of the world. The Akvo platform is open source and we encourage others to build on and improve these tools, or adapt the platform for other purposes. 
		Author: Loïc Sans
		Version: 2.00
*/

/*---------------------------------------------------------------------------------
 
		Title:      Akvo.org Styles for Desktop, mobile, tablet
		Author:     Loic Sans, loic@akvo.org
	
---------------------------------------------------------------------------------*/
/*                                   Colours 
---------------------------------------------------------------------------------
	
Akvo Primary Colours:
	
	rgb(44, 42, 116);				Akvo Purplish Blue
	rgb(114,  205, 255);		Akvo very light blue
	rgb(222, 137, 41);			Akvo Orange / light Brown
	rgb(153, 153, 153);			Akvo Mid grey
	rgb(57, 102, 128);			Akvo Darker shade Blue from light blue
	rgb(107, 134, 141);			Akvo Blueish Green link color
	
Akvo Secondary Colours:
	
	rgb(225, 237, 195);			Akvo very Light green
	rgb(227, 27, 35);				Akvo red
	rgb(219, 135, 201);			Akvo Pink
	rgb(255, 210, 0);				Akvo Yellow
	rgb(125, 125, 125);			Akvo Darker Grey
	rgb(66, 76, 43);				Akvo Very dark Green (Military)
	rgb(119, 97, 0);				Akvo Kaki (Greenish Brown)
	rgb(242, 240, 230);			Akvo Off White
	rgb(74, 177, 207);			Akvo darkish blue / Water Point
	
---------------------------------------------------------------------------------*/

/* 

Source+Code+Pro:400,900,700,600,300,200,500|Questrial|Inconsolata|Muli:400,300italic,400italic,300|Raleway:400,900,800,700,600,500,100,200,300|Lato:400,100,300,700,900,100italic,300italic,400italic,900italic,700italic'
font-family: 'Source Code Pro', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Inconsolata', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;


*/
@import url("css/main.css"); 
